 <!-- banner section start -->
 <div class="banner_section layout_padding">
   <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <h1 class="banner_taital">Cañon de Somoto</h1>
               <p class="banner_text">Libera tu mente, explora la naturaleza</p>
               <div class="read_bt"><a href="#">Ver mas</a></div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <h1 class="banner_taital">Cañon de Somoto</h1>
               <p class="banner_text">La vida es una aventura atrévete</p>
               <div class="read_bt"><a href="#">Ver mas</a></div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <h1 class="banner_taital">Cañon de Somoto </h1>
               <p class="banner_text">"Viajar es una combinacion de aventura, naturaleza, arte,
                  e historia"
               </p>
               <div class="read_bt"><a href="#">Ver mas</a></div>
            </div>
         </div>
      </div>
   </div>
</div>
 <!-- banner section end -->

<!-- header section end -->
<!-- services section start -->
<div class="services_section layout_padding">
 <div class="container">
    <h1 class="services_taital">Servicios</h1>
    <p class="services_text">Diferentes actividades que disfrutarás</p>
    <div class="services_section_2">
       <div class="row">
          <div class="col-md-4">
             <div><img src="assets/images/salto.jpg" class="services_img"></div>
             <div class="btn_main"><a href="/servicios">Saltos al agua</a></div>
          </div>
          <div class="col-md-4">
             <div><img src="assets/images/mirador.jpg" class="services_img"></div>
             <div class="btn_main active"><a href="/servicios">Mirador</a></div>
          </div>
          <div class="col-md-4">
             <div><img src="assets/images/senderismo.jpg" class="services_img"></div>
             <div class="btn_main"><a href="/servicios">Recorrido en bote y neumaticos</a></div>
          </div>
       </div>
    </div>
 </div>
</div>
<!-- services section end -->
<!-- about section start -->
<div class="about_section layout_padding">
 <div class="container-fluid">
    <div class="row">
       <div class="col-md-6">
          <div class="about_taital_main">
             <h1 class="about_taital">Sobre Nosotros</h1>
             <p class="about_text">Monumento Nacional Cañon Namacambre, Rio Coco Animese a explorar una de las grietas geologicas mas fascinantes y 
                profundas de nuestra America Central, labrada en roca viva durante millones de años        
             "Namacambre traducido del Nahualt: Angostura" </p>
             <div class="readmore_bt"><a href="/nosotros">Ver más</a></div>
          </div>
       </div>
       <div class="col-md-6 padding_right_0">
          <div><img src="assets/images/acercade.jpg" class="about_img"></div>
       </div>
    </div>
 </div>
</div>
<!-- about section end -->
<!-- blog section start -->
<div class="blog_section layout_padding">
 <video  width="900" height="500"  controls >
    <source src="assets/images/video.mp4" type="video/mp4">
 </video>
 <div class="container">
   
    <h1 class="blog_taital">Mira nuestro video</h1>
    <p class="blog_text">Una experiencia unica, llena de aventuras</p>
    
 </div>
</div>
<!-- blog section end -->
<!-- client section start -->
<div class="client_section layout_padding">
 <div class="container">
    <h1 class="client_taital">Opiniones</h1>
    <div class="client_section_2">
       <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
             <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
             <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
             <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
             <div class="carousel-item active">
                <div class="client_main">
                   <div class="box_left">
                      <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                         exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                         dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia</p>
                   </div>
                   <div class="box_right">
                      <div class="client_taital_left">
                         <div class="client_img"><img src="assets/images/client-img.png"></div>
                         <div class="quick_icon"><img src="assets/images/quick-icon.png"></div>
                      </div>
                      <div class="client_taital_right">
                         <h4 class="client_name">Dame</h4>
                         <p class="customer_text">Customer</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="client_main">
                   <div class="box_left">
                      <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                         exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                         dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia</p>
                   </div>
                   <div class="box_right">
                      <div class="client_taital_left">
                         <div class="client_img"><img src="assets/images/client-img.png"></div>
                         <div class="quick_icon"><img src="assets/images/quick-icon.png"></div>
                      </div>
                      <div class="client_taital_right">
                         <h4 class="client_name">Dame</h4>
                         <p class="customer_text">Customer</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="client_main">
                   <div class="box_left">
                      <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                         exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                         dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia</p>
                   </div>
                   <div class="box_right">
                      <div class="client_taital_left">
                         <div class="client_img"><img src="assets/images/client-img.png"></div>
                         <div class="quick_icon"><img src="assets/images/quick-icon.png"></div>
                      </div>
                      <div class="client_taital_right">
                         <h4 class="client_name">Dame</h4>
                         <p class="customer_text">Customer</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
<!-- client section start -->
<!-- choose section start -->
<div class="choose_section layout_padding">
 <div class="container">
    <h1 class="choose_taital">¿Porqué visitarnos?</h1>
    <p class="choose_text">El cañón es un destino que ofrece un ambiente único en nuestro país. Desde la entrada por el camino del Valle de Sonís,
      que es la más utilizada, se empiezan a apreciar panoramas de bosque seco, con árboles de pequeña altura y fauna propia del lugar. 
     Venados, chocoyos, conejos e iguanas, son algunas de las especies que habitan la zona. </p>
    <div class="read_bt_1"><a href="/nosotros">ver mas</a></div>
    <div class="newsletter_box">
       <h1 class="let_text">Escribenos</h1>
       <div class="getquote_bt"><a href="#">Obtenga cotizacion</a></div>
    </div>
 </div>
</div>
