<div class="contact_section layout_padding">
    <div class="container">
       <h1 class="contact_taital">Nos puedes encontrar</h1>
       <div class="email_text">
          <div class="form-group">
            <a href="https://www.facebook.com/profile.php?id=100067699296589"> Facebook    <img src="images/fb-icon.png" alt=""></a>
          </div>
          <div class="form-group">
             <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D%252B50582207901%26data%3DARAKBAp9DguZdD2buahMrdAnzkn1w0rn7aMK-kvs5aMTDAsie0J7JkkCerZ5l2yUydXk__Cu3GhhRJCUNRopcc8nI4HdPsa2RB8X_Y-y60HovcrbjBeHX8o7l-_i7XG7Kfq3FfuTdG1C6UKlzJqNG4WvgQ%26source%3DFB_Page%26app%3Dfacebook%26entry_point%3Dpage_cta%26fbclid%3DIwAR1Nzk9EXZ2SvxUoMQdsk0k09nnto1PbGwA0uodB7qKwOU9XfvuOKheLctE&h=AT3y8Gh6k8MW5MTupmIERBqykXEHLTEi43yAW7rRT_iAovTI4rmmqQ_CobYYh11I4hqH7_E6OKHo4LaVrz3kQ4srpToWzfE3KJCmKdSA-BQ7GmfjsuxYlOKIXQAr_rJ-3Bk0IA">
              whatsapp 
             </a>
          </div>
          <div class="form-group">
            <a href="fibacsom@gmail.com">Email</a>
          </div>
          <div class="form-group">
            <a href="">Instagram</a>
          </div>
          <div class="send_btn"><a href="#">SEND</a></div>
       </div>
    </div>
 </div>