<div class="services_section layout_padding">
    <div class="container">
       <h1 class="services_taital">Services </h1>
       <p class="services_text"> Realiza diferentes actividades llenas de aventura y emocion</p>
       <div class="services_section_2">
          <div class="row">
             <div class="col-md-4">
                <p> Podras realizar grandes saltos y natacion</p>
                <div><img src="assets/images/salto.jpg" class="services_img"></div>
                <div class="btn_main"><a href="#">Saltos </a></div>
               
             </div>
             <div class="col-md-4">
                <p>Visita sus miradores con una vista increible </p>
                <div><img src="assets/images/mirador.jpg" class="services_img"></div>
                <div class="btn_main active"><a href="#">Mirador</a></div>
            
             </div>
             <div class="col-md-4">
                <p> Podras realizar recorridos desde 4 horas hasta 6 horas</p>
                <div><img src="assets/images/senderismo01.jpeg" class="services_img"></div>
                <div class="btn_main"><a href="#">Senderismos</a></div>
               
             </div>
             <div class="col-md-4">
                <div><img src="assets/images/senderismo.jpg" class="services_img"></div>
                <div class="btn_main"><a href="#">Recorrido en bote y neumaticos</a></div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- services section end -->
 