<div class="about_section layout_padding">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6">
             <div class="about_taital_main">
                <h1 class="about_taital">Sobre Nosotros</h1>
                <p class="about_text">Monumento Nacional Cañon Namacambre, Rio Coco  una de las grietas geologicas mas fascinantes y 
                   profundas de nuestra America Central, ubicado unos 15 kilómetros al Oeste de la ciudad de Somoto, cabecera departamental de Madriz,
                    se encuentra esta asombrosa estructura geológica, labrada en roca viva durante millones de años        
                "Namacambre traducido del Nahualt: Angostura" </p>
                <p class="about_text">El cañón es un destino que ofrece un ambiente único en nuestro país. Desde la entrada por el camino del Valle de Sonís,
                    que es la más utilizada, se empiezan a apreciar panoramas de bosque seco, con árboles de pequeña altura y fauna propia del lugar. 
                   Venados, chocoyos, conejos e iguanas, son algunas de las especies que habitan la zona.</p>
                
             </div>
          </div>
          <div class="col-md-6 padding_right_0">
             <div><img src="assets/images/acercade.jpg" class="about_img"></div>
          </div>
          <div class="col-md-6 padding_right_0">
             <div><img src="assets/images/nosotros.jpeg" class="about_img"></div>
          </div>
          <div class="col-md-6 padding_right_0">
             <div><img src="assets/images/acerdade.jpeg" class="about_img"></div>
          </div>
       </div>
    </div>
 </div>
 